<div class="col-md-12">

    <!-- START BASIC TABLE SAMPLE -->
    <div class="panel panel-default">
        <div class="panel-heading ui-draggable-handle">
            <h3 class="panel-title">Carros Estacionados</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align: center">Entrada</th>
                        <th style="text-align: center">Permanência</th>
                        <th style="text-align: center">Placa</th>
                        <th style="text-align: center">Saída</th>
                        <th style="text-align: center">Valor</th>
                        <th style="text-align: center">Ações</th>
                    </tr>
                </thead>
                <tbody ng-repeat="v in gestao.veiculos">
                    <tr>
                        <td style="text-align: center">{{ v.entrada | date:'dd-MM-yyyy HH:mm' }}</td>
                        <td style="text-align: center">{{ v.permanencia != null ? v.permanencia : 0 }} min</td>
                        <td style="text-align: center">{{ v.placa }}</td>
                        <td style="text-align: center">{{ v.saida != null ? (v.saida | date:'dd-MM-yyyy HH:mm') : 0 }}</td>
                        <td style="text-align: center">R$ {{ v.valor | number:2}}</td>
                        <td style="text-align: center">
                            <div class="btn-group btn-group-sm">
                                <button title="Gerar custo do tempo estacionado" ng-click="gestao.salvar(v)" class="btn btn-default"><i class="glyphicon glyphicon-usd"></i></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END BASIC TABLE SAMPLE -->
</div>