<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">

                <!-- START WIDGET MESSAGES -->
                <div class="widget widget-default widget-item-icon" onclick="location.href='pages-messages.html';">
                    <div class="widget-item-left">
                        <span class="fa fa-car "></span>
                    </div>
                    <div class="widget-data">
                        <div class="widget-int num-count">{{dashboard.vagas.totalVagasOcupadas}}</div>
                        <div class="widget-title">Vagas Ocupadas</div>
                        <!-- <div class="widget-subtitle">Estacionamento Rua 3</div> -->
                    </div>
                </div>
                <!-- END WIDGET MESSAGES -->
            </div>
            <div class="col-md-3">
                <!-- START WIDGET MESSAGES -->
                <div class="widget widget-default widget-item-icon" onclick="location.href='pages-messages.html';">
                    <div class="widget-item-left">
                        <span class="fa fa-road"></span>
                    </div>
                    <div class="widget-data">
                        <div class="widget-int num-count">{{dashboard.vagas.totalVagasLivres}}</div>
                        <div class="widget-title">Vagas Livres</div>
                        <!-- <div class="widget-subtitle">Estacionamento Mãos Livres</div> -->
                    </div>
                </div>
                <!-- END WIDGET MESSAGES -->

            </div>
        </div>
    </div>
</div>